/* mobile first approach */
/* desktop first approach */

@media screen and (max-width: 600px) {
  nav {
    display: none;
    overflow: hidden;
  }
  #menu-list {
    height: 70svh;
  }

  .main-nav a {
    font-size: 30px;
  }

  .hide-menu {
    display: none;
  }

  .about {
    font-size: 18px;
  }

  .main-nav ul {
    display: block;
  }

  #burger-menu {
    display: block;
  }

  #menu-list {
    flex-direction: column;
  }

  .menu-container {
    position: absolute;
    right: 0;
    top: 80px;
    height: 100svh;
    width: 100svw;
    background: rgba(20, 33, 62, 0.8);
    z-index: 9999;
  }

  .university-name {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .main-nav,
  .logo-section {
    float: none;
    text-align: center;
  }

  .main-nav li {
    display: block;
    margin: 10px 0;
  }
}

/* ABSOLUTE UNIT AND RELATIVE UNIT */
